.prueba{
    -fx-background-color:#48536e;
    -fx-border-color:#48536e;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}
